In [5]:
import pandas as pd
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from google.colab import files
uploaded=files.upload()

Saving appointments_updated.csv to appointments_updated.csv

In [4]:
import io
df=pd.read_csv(io.BytesIO(uploaded['appointments_updated.csv']))
df=df.fillna("NULL")
print(df)

                                             id  ...                   query_value
0      119cc56861f3e602654b325802c4e373d89c8d25  ...  ophthalmologist/ eye surgeon
1      4d2dc045f02d7b59988a1edcf9c6cef09cee18fe  ...               Ophthalmologist
2      655188d31614f9757da766e4e9be61ebd2ec408b  ...  ophthalmologist/ eye surgeon
3      44c395026f72db339eb32cdc223935444033df44  ...               Ophthalmologist
4      cf481ac856902648b79a3a15060937b47bf551e4  ...               plastic surgeon
...                                         ...  ...                           ...
76085  b01f8891e480ca333ff374db978bd63658220ccb  ...                       Dentist
76086  5e2b38e578100070132615d870156a6724ad2449  ...               physiotherapist
76087  49c21aa9dc7b83828e926f42193c35bc1c457988  ...             General Physician
76088  50f242e45421a9c85083cd8bd96f1af4106d8d08  ...             General Physician
76089  e568930c1ef85bc820d128d300d399d952d82528  ...                       Dentist

[76090 rows x 12 columns]

In [11]:
from google.colab import files
uploaded=files.upload()

Saving jedi_traffic.csv to jedi_traffic.csv

In [12]:
import io
df1=pd.read_csv(io.BytesIO(uploaded['jedi_traffic.csv']))
df1=df1.fillna("NULL")
print(df1)

         year  month  day  ... platform         city dau
0        2020     12    1  ...  Android  Navi Mumbai   1
1        2020     12    1  ...  Android  Navi Mumbai   1
2        2020     12    1  ...  Android  Navi Mumbai   1
3        2020     12    1  ...  Android  Navi Mumbai   1
4        2020     12    1  ...  Android      Kolkata   1
...       ...    ...  ...  ...      ...          ...  ..
1685600  2021      1    9  ...     Mweb    Paranaque   1
1685601  2021      1    9  ...      Web    Bangalore   1
1685602  2021      1    9  ...      Web        delhi   1
1685603  2021      1    9  ...      Web       Indore   1
1685604  2021      1    9  ...      Web       Mumbai   1

[1685605 rows x 13 columns]

NET CONVERSION CALCULATION

In [9]:
noconfirmed= df[df["status"]=="CONFIRMED"].count()["id"]
print(noconfirmed)

59272

In [10]:
totaldau=df1["dau"].sum()
print(totaldau)

3070230

In [11]:
netconversion=(noconfirmed/totaldau)*100
print(netconversion)

1.9305394058425591

GROSS CONVERSION CALCULATION

In [12]:
totalid=df["id"].count()
print(totalid)

76090

In [13]:
grossconversion= (totalid/totaldau)*100
print(grossconversion)

2.4783159567849964

In [14]:
df['created_at'] = pd.to_datetime(df['created_at'])
df['new_date'] = [d.date() for d in df['created_at']]
df['new_time'] = [d.time() for d in df['created_at']]
print(df['new_date'])

0        2020-12-12
1        2020-12-05
2        2020-12-18
3        2021-01-08
4        2020-12-07
            ...
76085    2021-01-25
76086    2021-01-21
76087    2020-12-04
76088    2020-12-05
76089    2021-01-27
Name: new_date, Length: 76090, dtype: object

In [13]:
df1['date']=df1['year'].astype(str)+'-'+df1['month'].astype(str)+'-'+df1['day'].astype(str)
df1['date'] = pd.to_datetime(df1['date'])
df1['new_date'] = [d.date() for d in df1['date']]
print(df1['new_date'])

0          2020-12-01
1          2020-12-01
2          2020-12-01
3          2020-12-01
4          2020-12-01
              ...
1685600    2021-01-09
1685601    2021-01-09
1685602    2021-01-09
1685603    2021-01-09
1685604    2021-01-09
Name: new_date, Length: 1685605, dtype: object

NET CONVERSION ACC TO PER DATE

In [68]:
dfnew = df.loc[df.status == 'CONFIRMED' ].groupby('new_date')['status'].count().reset_index(name='count')
print(dfnew)
print(dfnew['count'].sum())

      new_date  count
0   2020-12-01    896
1   2020-12-02    855
2   2020-12-03    803
3   2020-12-04    930
4   2020-12-05   1151
..         ...    ...
57  2021-01-27    949
58  2021-01-28    845
59  2021-01-29   1117
60  2021-01-30   1308
61  2021-01-31    926

[62 rows x 2 columns]
59272

In [30]:
df1new= df1.groupby('new_date').sum('dau').reset_index()
print(df1new[['new_date','dau']])

      new_date    dau
0   2020-12-01  51063
1   2020-12-02  49807
2   2020-12-03  49153
3   2020-12-04  49050
4   2020-12-05  51477
..         ...    ...
57  2021-01-27  54602
58  2021-01-28  46006
59  2021-01-29  43328
60  2021-01-30  44163
61  2021-01-31  38087

[62 rows x 2 columns]

In [56]:
dfmg=pd.merge(dfnew,df1new, on='new_date', how='inner')
dfmerged=dfmg[['new_date','count','dau']]
print(dfmerged)

      new_date  count    dau
0   2020-12-01    896  51063
1   2020-12-02    855  49807
2   2020-12-03    803  49153
3   2020-12-04    930  49050
4   2020-12-05   1151  51477
..         ...    ...    ...
57  2021-01-27    949  54602
58  2021-01-28    845  46006
59  2021-01-29   1117  43328
60  2021-01-30   1308  44163
61  2021-01-31    926  38087

[62 rows x 3 columns]

In [57]:
dfmerged['ConvRatePerDay'] = (dfmerged['count']/dfmerged['dau'])*100
print(dfmerged)
dfmerged.to_csv('conv_acc_day.csv')

      new_date  count    dau  ConvRatePerDay
0   2020-12-01    896  51063        1.754695
1   2020-12-02    855  49807        1.716626
2   2020-12-03    803  49153        1.633674
3   2020-12-04    930  49050        1.896024
4   2020-12-05   1151  51477        2.235950
..         ...    ...    ...             ...
57  2021-01-27    949  54602        1.738032
58  2021-01-28    845  46006        1.836717
59  2021-01-29   1117  43328        2.578010
60  2021-01-30   1308  44163        2.961755
61  2021-01-31    926  38087        2.431276

[62 rows x 4 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [3]:
from google.colab import files
uploaded=files.upload()

Saving appointments_updated.csv to appointments_updated.csv

In [6]:
import io
df3=pd.read_csv(io.BytesIO(uploaded['appointments_updated.csv']))
df3=df3.fillna("NULL")
print(df3)

                                             id  ...                   query_value
0      119cc56861f3e602654b325802c4e373d89c8d25  ...  ophthalmologist/ eye surgeon
1      4d2dc045f02d7b59988a1edcf9c6cef09cee18fe  ...               Ophthalmologist
2      655188d31614f9757da766e4e9be61ebd2ec408b  ...  ophthalmologist/ eye surgeon
3      44c395026f72db339eb32cdc223935444033df44  ...               Ophthalmologist
4      cf481ac856902648b79a3a15060937b47bf551e4  ...               plastic surgeon
...                                         ...  ...                           ...
76085  b01f8891e480ca333ff374db978bd63658220ccb  ...                       Dentist
76086  5e2b38e578100070132615d870156a6724ad2449  ...               physiotherapist
76087  49c21aa9dc7b83828e926f42193c35bc1c457988  ...             General Physician
76088  50f242e45421a9c85083cd8bd96f1af4106d8d08  ...             General Physician
76089  e568930c1ef85bc820d128d300d399d952d82528  ...                       Dentist

[76090 rows x 12 columns]

In [7]:
df3['created_at'] = pd.to_datetime(df3['created_at'])
df3['new_date'] = [d.date() for d in df3['created_at']]
df3['new_time'] = [d.time() for d in df3['created_at']]
print(df3['new_date'])

0        2020-12-12
1        2020-12-05
2        2020-12-18
3        2021-01-08
4        2020-12-07
            ...
76085    2021-01-25
76086    2021-01-21
76087    2020-12-04
76088    2020-12-05
76089    2021-01-27
Name: new_date, Length: 76090, dtype: object

NET CONVERSION ACC TO EACH CITY

In [8]:

df3new = df3.loc[df3.status == 'CONFIRMED' ].groupby('city')['status'].count().reset_index(name='count')
df3new=df3new.fillna("NULL")
print(df3new)

              city  count
0             Agra     22
1        Ahmedabad    265
2        Allahabad     13
3           Ambala      2
4         Amravati      2
..             ...    ...
72      Vijayawada     26
73   Visakhapatnam    308
74    Vizianagaram      1
75        Warangal      1
76  West Medinipur     37

[77 rows x 2 columns]

In [21]:
df1city= df1.groupby('city').sum('dau').reset_index()
df1city=df1city.fillna("NULL")
print(df1city[['city','dau']])

               city  dau
0               /(J    4
1                 1    1
2          Abbigeri    1
3            Abohar    1
4         Abu Dhabi    2
...             ...  ...
2406         नागपुर    1
2407  पिंपरी चिंचवड    2
2408           पुणे    2
2409          मुंबई   20
2410       ಬೆಂಗಳೂರು    1

[2411 rows x 2 columns]

In [22]:
dfmg1=pd.merge(df3new,df1city, on='city', how='inner')
dfmerged1=dfmg1[['city','count','dau']]
print(dfmerged1)

              city  count   dau
0             Agra     22  2184
1        Ahmedabad    265  6943
2        Allahabad     13   425
3           Ambala      2    73
4         Amravati      2   137
..             ...    ...   ...
71      Vijayawada     26  2921
72   Visakhapatnam    308  6348
73    Vizianagaram      1    12
74        Warangal      1   196
75  West Medinipur     37     4

[76 rows x 3 columns]

In [23]:
dfmerged1['ConvRatePerCity'] = (dfmerged1['count']/dfmerged1['dau'])*100
print(dfmerged1)
dfmerged1.to_csv('conv_acc_city.csv')

              city  count   dau  ConvRatePerCity
0             Agra     22  2184         1.007326
1        Ahmedabad    265  6943         3.816794
2        Allahabad     13   425         3.058824
3           Ambala      2    73         2.739726
4         Amravati      2   137         1.459854
..             ...    ...   ...              ...
71      Vijayawada     26  2921         0.890106
72   Visakhapatnam    308  6348         4.851922
73    Vizianagaram      1    12         8.333333
74        Warangal      1   196         0.510204
75  West Medinipur     37     4       925.000000

[76 rows x 4 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

NET CONVERSION ACC TO SPECIALITY

In [9]:

df3["query_value"] = df3["query_value"].str.lower()
df4new = df3.loc[df3.status == 'CONFIRMED' ].groupby('query_value')['status'].count().reset_index(name='count')
df4new=df4new.fillna("NULL")
print(df4new)

                           query_value  count
0                        acupuncturist     16
1               addiction psychiatrist      5
2    adolescent and child psychiatrist      1
3              aesthetic dermatologist     20
4               allergist/immunologist     21
..                                 ...    ...
170                       veterinarian     50
171               veterinary physician      3
172                 veterinary surgeon      1
173                     women's health     23
174               yoga and naturopathy      2

[175 rows x 2 columns]

In [14]:
df1query= df1.groupby('query_value').sum('dau').reset_index()
df1query=df1query.fillna("NULL")
print(df1query[['query_value','dau']])

               query_value   dau
0                  Acidity     3
1                     Acne    10
2               Acne Scars     1
3              Acupressure   276
4            Acupuncturist  5484
...                    ...   ...
1183              wellness     3
1184        wellness coach     9
1185     work psychologist     2
1186  yoga and naturopathy    94
1187                    {}     2

[1188 rows x 2 columns]

In [15]:
dfmg2=pd.merge(df4new,df1query, on='query_value', how='inner')
dfmerged2=dfmg2[['query_value','count','dau']]
print(dfmerged2)

                           query_value  count  dau
0                        acupuncturist     16  112
1               addiction psychiatrist      5   97
2    adolescent and child psychiatrist      1  194
3              aesthetic dermatologist     20  249
4               allergist/immunologist     21  464
..                                 ...    ...  ...
142                      venereologist     23  133
143                       veterinarian     50  513
144               veterinary physician      3   80
145                 veterinary surgeon      1   27
146               yoga and naturopathy      2   94

[147 rows x 3 columns]

In [16]:
dfmerged2['ConvRatePerQuery'] = (dfmerged2['count']/dfmerged2['dau'])*100
print(dfmerged2)
dfmerged2.to_csv('conv_acc_query.csv')

                           query_value  count  dau  ConvRatePerQuery
0                        acupuncturist     16  112         14.285714
1               addiction psychiatrist      5   97          5.154639
2    adolescent and child psychiatrist      1  194          0.515464
3              aesthetic dermatologist     20  249          8.032129
4               allergist/immunologist     21  464          4.525862
..                                 ...    ...  ...               ...
142                      venereologist     23  133         17.293233
143                       veterinarian     50  513          9.746589
144               veterinary physician      3   80          3.750000
145                 veterinary surgeon      1   27          3.703704
146               yoga and naturopathy      2   94          2.127660

[147 rows x 4 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Gross Conversion Rate Per Day

In [36]:

dfnewgross=df.groupby(['new_date']).size().reset_index(name='count')
print(dfnewgross)
print(dfnewgross['count'].sum())

      new_date  count
0   2020-12-01   1143
1   2020-12-02   1098
2   2020-12-03   1040
3   2020-12-04   1200
4   2020-12-05   1476
..         ...    ...
57  2021-01-27   1220
58  2021-01-28   1089
59  2021-01-29   1415
60  2021-01-30   1662
61  2021-01-31   1214

[62 rows x 2 columns]
76090

In [37]:
dfmggross=pd.merge(dfnewgross,df1new, on='new_date', how='inner')
dfmerged12=dfmggross[['new_date','count','dau']]
print(dfmerged12)

      new_date  count    dau
0   2020-12-01   1143  51063
1   2020-12-02   1098  49807
2   2020-12-03   1040  49153
3   2020-12-04   1200  49050
4   2020-12-05   1476  51477
..         ...    ...    ...
57  2021-01-27   1220  54602
58  2021-01-28   1089  46006
59  2021-01-29   1415  43328
60  2021-01-30   1662  44163
61  2021-01-31   1214  38087

[62 rows x 3 columns]

In [39]:
dfmerged12['GrossConvRatePerDay'] = (dfmerged12['count']/dfmerged12['dau'])*100
print(dfmerged12)
dfmerged12.to_csv('grossconv_acc_day.csv')

      new_date  count    dau  GrossConvRatePerDay
0   2020-12-01   1143  51063             2.238411
1   2020-12-02   1098  49807             2.204509
2   2020-12-03   1040  49153             2.115842
3   2020-12-04   1200  49050             2.446483
4   2020-12-05   1476  51477             2.867300
..         ...    ...    ...                  ...
57  2021-01-27   1220  54602             2.234350
58  2021-01-28   1089  46006             2.367083
59  2021-01-29   1415  43328             3.265787
60  2021-01-30   1662  44163             3.763331
61  2021-01-31   1214  38087             3.187439

[62 rows x 4 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

GROSS CONVERSION ACCORDING TO CITY

In [33]:
df3newgross = df3.groupby(['city']).size().reset_index(name='count')
df3newgross=df3newgross.fillna("NULL")
print(df3newgross)

              city  count
0             Agra     29
1        Ahmedabad    348
2        Allahabad     13
3           Ambala      2
4         Amravati      3
..             ...    ...
77   Visakhapatnam    405
78    Vizianagaram      1
79        Warangal      1
80   West Godavari      1
81  West Medinipur     44

[82 rows x 2 columns]

In [40]:
dfmg13=pd.merge(df3newgross,df1city, on='city', how='inner')
dfmerged13=dfmg13[['city','count','dau']]
dfmerged13['GrossConvRatePerCity'] = (dfmerged13['count']/dfmerged13['dau'])*100
print(dfmerged13)
dfmerged13.to_csv('grossconv_acc_city.csv')

              city  count   dau  GrossConvRatePerCity
0             Agra     29  2184              1.327839
1        Ahmedabad    348  6943              5.012243
2        Allahabad     13   425              3.058824
3           Ambala      2    73              2.739726
4         Amravati      3   137              2.189781
..             ...    ...   ...                   ...
75      Vijayawada     36  2921              1.232455
76   Visakhapatnam    405  6348              6.379962
77    Vizianagaram      1    12              8.333333
78        Warangal      1   196              0.510204
79  West Medinipur     44     4           1100.000000

[80 rows x 4 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

GROSS CONVERSION ACCORDING TO QUERY

In [17]:
df3["query_value"] = df3["query_value"].str.lower()
df4newgross = df3.groupby(['query_value']).size().reset_index(name='count')
df4newgross=df4newgross.fillna("NULL")
print(df4newgross)

                           query_value  count
0                        acupuncturist     26
1               addiction psychiatrist     11
2    adolescent and child psychiatrist      2
3              aesthetic dermatologist     24
4               allergist/immunologist     29
..                                 ...    ...
189                       veterinarian     73
190               veterinary physician      3
191                 veterinary surgeon      1
192                     women's health     31
193               yoga and naturopathy      2

[194 rows x 2 columns]

In [19]:
dfmg22=pd.merge(df4newgross,df1query, on='query_value', how='inner')
dfmerged22=dfmg22[['query_value','count','dau']]
dfmerged22['GrossConvRatePerQuery'] = (dfmerged22['count']/dfmerged22['dau'])*100
print(dfmerged22)
dfmerged22.to_csv('grossconv_acc_query.csv')

                           query_value  count  dau  GrossConvRatePerQuery
0                        acupuncturist     26  112              23.214286
1               addiction psychiatrist     11   97              11.340206
2    adolescent and child psychiatrist      2  194               1.030928
3              aesthetic dermatologist     24  249               9.638554
4               allergist/immunologist     29  464               6.250000
..                                 ...    ...  ...                    ...
153                      venereologist     31  133              23.308271
154                       veterinarian     73  513              14.230019
155               veterinary physician      3   80               3.750000
156                 veterinary surgeon      1   27               3.703704
157               yoga and naturopathy      2   94               2.127660

[158 rows x 4 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until